// 擴充套件
.page-plugin {
  //display: flex;
  //align-items: center;

  .plugin {
    margin: 0 20px;
    //width: 100%;
  }

  .boxBg-header {
    max-width: 800px;
    font-size: 24px;
    margin: auto;
    margin-bottom: 10px;
    text-shadow: 0 0 10px #000; // 文字陰影
  }

  .plugin-item {
    overflow: hidden;
  }

  .boxBg {
    max-width: 800px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: saturate(180%) blur(20px);
    //box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 10px;
  }

  .boxBg img {
    max-width: 100%;
    margin-top: 3px;
  }

  .code {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px;
    display: inline-block;
    border-radius: 5px;
    word-break: break-all;
  }

  .plugin-T {
    display: flex;
  }

  .plugin-L {
    /* width: 100px; */
  }

  .plugin-R {
    flex: 1;
    margin-left: 10px;
  }

  .plugin-icon {
    width: 80px;
    margin: 5px;
  }

  .plugin-title {
    font-size: 20px;
    margin-top: 3px;
  }

  .plugin-content {
    margin-top: 10px;
    font-size: 14px;
  }

  .plugin-download {
    margin-top: 10px;
    padding: 5px 30px;
    /* background: linear-gradient(-80deg, #0fdb97, #00eeff); */
    background-color: rgb(0, 166, 255);
    display: inline-block;
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
    text-decoration: none;
  }

  .plugin-download:hover {
    cursor: pointer;
    background: rgb(0, 146, 225);
  }

  .plugin-moreContent {
    transition: all 0.3s;
    overflow: hidden;
    max-height: 0px;
    margin-top: 0px;
    padding-bottom: 3px;
  }

  .plugin-moreBtn {
    height: 30px;
    margin: -10px;
    margin-top: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    position: relative;

    &:hover {
      cursor: pointer;
      background: rgba(0, 0, 0, 0.1);
    }

    &::after {
      content: "";
      border-right: 3px solid rgba(255, 255, 255, 0.5);
      border-bottom: 3px solid rgba(255, 255, 255, 0.5);

      width: 10px;
      height: 10px;
      position: absolute;

      right: 0;
      left: 0;
      bottom: 0;
      margin: auto;
      transition: transform 0.1s;
      transform: rotate(45deg);
      top: -6px;
    }
  }

  .plugin-item[open="true"] .plugin-moreContent {
    max-height: none;
    margin-top: 10px;
  }

  .plugin-item[open="true"] .plugin-moreBtn::after {
    transform: rotate(225deg);
    top: 6px;
  }
}
