@import "./_index";
@import "./_plugin";
@import "./_support";

html {
  height: 100%;
  background-color: rgb(0, 11, 29);

  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  //   background-attachment: fixed;
}
body {
  margin: 0;
  min-height: calc(100% - 50px);
  overflow: auto;
  color: rgb(240, 240, 240);
  font-size: 16px;
  position: relative;
}
:root {
}

* {
  box-sizing: border-box;
  font-family: "Noto Sans TC", "Noto Sans SC", "微軟正黑體",
    "Microsoft JhengHei", "黑體-繁", "蘋果儷中黑", "sans-serif";
}

.link {
  color: rgb(0, 174, 255);
  text-decoration: none;
  &:hover {
    box-shadow: 0 1px rgb(0, 174, 255);
  }
}

.header {
  height: 55px;

  position: sticky;
  top: 5px;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  //overflow-x: auto;

  .header-content {
    display: flex;
    flex-direction: row;
    height: 100%;
    flex: 1;
    max-width: 800px;

    padding: 0 10px;
    position: relative;

    .header-bg {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
      backdrop-filter: saturate(180%) blur(20px);
      //box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 10px;
      z-index: -1;
    }
  }

  .header-hr {
    width: 1px;
    // height:100%;
    margin: 10px 10px;
    background-color: rgba(255, 255, 255, 0.4);
    flex-shrink: 0;
  }
  .header-item {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    flex: 1;
    flex-shrink: 0;
    position: relative;
    color: #fff;
    text-decoration: none;

    .logo {
      height: 30px;
    }
    img {
      height: 25px;
      margin-right: 5px;
    }
    span {
      white-space: nowrap;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
      cursor: pointer;
    }
    // 開啟選單時
    &[hover="true"] {
      background-color: rgba(255, 255, 255, 0.1);
    }

    &[active="true"]::after {
      position: absolute;
      content: "";
      border-radius: 5px;
      width: 5px;
      height: 5px;
      background-color: rgb(255, 255, 255);
      box-shadow: 0px 0px 3px 2px rgb(0, 174, 255);
      bottom: 4px;
    }
  }
}

@media screen and (max-width: 650px) {
  .header {
    .header-item {
      img {
        margin-right: 0;
      }
      span {
        display: none;
      }
    }
  }
}

.menu-lang {
  position: absolute;
  width: 120px;
  top: 50px;
  left: auto;
  right: auto;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: saturate(180%) blur(20px);
  //box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  overflow: hidden;

  //display: none;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.3s;
  pointer-events: none;

  &[active="true"] {
    //display: block;
    opacity: 1;
    transform: translateY(0px);
    pointer-events: initial;
  }

  .item {
    height: 35px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    padding-left: 35px;

    &:hover {
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.1);
    }
    &[active="true"] {
      background-image: url(../img/svg/acceptMedium.svg);
      background-size: 20px;
      background-position: 10px 10px;
      background-repeat: no-repeat;
    }
  }
}

.page {
  padding-bottom: 180px;
}

.page-title {
  max-width: 800px;
  font-size: 24px;
  margin: auto;
  margin-bottom: 10px;
  text-shadow: 0 0 10px #000;
}

.bottom {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: saturate(180%) blur(20px);
  //box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  //border-radius: 10px;

  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;

  .item {
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    margin: 2px;
    padding: 15px;
    border-right: 1px rgba(255, 255, 255, 0.1) solid;
  }
}
@media screen and (max-width: 650px) {
  .bottom {
    .item {
      border-right: none;
    }
  }
}
