<div class="bottom">

    <div class="item">
        <span> <%- t("bottom.author") %> </span>
        <a class="link" href="https://home.gamer.com.tw/homeindex.php?owner=hbl917070" target="_blank">hbl917070（深海異音）</a>
    </div>

    <div class="item">
        <span> <%- t("bottom.email") %> </span>
        <a class="link" href="mailto:hbl917070@gmail.com">hbl917070@gmail.com</a>
    </div>

</div>