<div class="header" id="header">

    <div class="header-content">

        <div class="header-bg"></div>

        <a class="header-item js-index" href="index.html">
            <img class="logo" src="../img/tiefseeLogo.png" alt="Tiefsee logo">
            <span> Tiefsee </span>
        </a>
        <a class="header-item js-plugin" href="plugin.html">
            <img src="../img/svg/puzzle.svg" alt="plugin icon">
            <span> <%- t("header.plugin") %> </span>
        </a>
        <a class="header-item js-support" href="support.html">
            <img src="../img/svg/readingMode.svg" alt="support icon">
            <span> <%- t("header.support") %> </span>
        </a>
        <a class="header-item" target="_blank" href="https://github.com/hbl917070/Tiefsee4">
            <img src="../img/svg/github.svg" alt="GitHub icon">
            <span> GitHub </span>
        </a>
        <div class="header-hr"> </div>
        <a class="header-item js-lang">
            <img src="../img/svg/globe.svg" alt="Language icon">
            <span> Language </span>
            <div class="menu-lang" id="menu-lang">
                <div class="item" data-lang="zh-TW"> 中文 </div>
                <div class="item" data-lang="en"> English </div>
            </div>
        </a>
    </div>

</div>

<!-- <div id="menuLang" class="menuLang">

</div> -->